body {
    background-color: lightskyblue;
    font-family: "等线 Light";
}
h2 {
    display: block;
    text-align: center;
    color: #333333;
    font-size: 25px;
}
.login-box{
    position:relative;
    margin: 10px  auto;
    width: 400px;
    height: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}
#login-header {
    position: relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    height: 28px;
}
#login-header a{
    margin: 0 25px;
    padding: 0 20px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #5bc0de;
}
#login-header .active{
    font-size: 18px;
    color: #2e6da4;
}

.login,.signup{
    position:relative;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
}
.form-input{
    width:100%;
    margin-bottom:20px;
    position: relative;
}
.form-input input[type="email"],
.form-input input[type="password"]{
    width: calc(50%);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
}
.form-input button{
    width: 222px;
    background-color: #31b0d5;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 15px 0;
    border-radius: 2px;
}

.quick-link{
    color: #5bc0de;
    text-decoration: underline;
    font-size: 80%;
    text-align: left;
}
#prehint{
    display: none;
    color: #C58486;
    position: absolute;
    left: 320px;
    font-size: 0.8em;
    top: 14px;
}
.hint{
    display: none;
    color: #C58486;
}